QWidget
{
    font-family: Tahoma;
    font-style: normal;
    font-size: 10px;
    font-weight: normal;

    background-color: transparent;
    border: 0px solid #585858;
    color: #01DF3A;
}

QWidget#Monitor
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0A1B2A, stop: 1 #0B3861);
}

QScrollArea
{
    background-color: transparent;
    border: 1px solid #585858;
    border-radius: 5px;
}

QWidget#HostIP 
{
    background-color: #0B3861;
}

QLabel
{
    font-family: Tahoma;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
}

QLineEdit
{
    font-family: Tahoma;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
}

QLabel#lbLastRequest,#lbLastError
{
    background-color:transparent;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    min-width: 120px;
    max-width: 120px;
    min-height: 15px;
    max-height: 15px;
}

QLabel#lbStatus
{
    color: #000000;
}

QLabel#lbInfo
{
    font-size: 10px;
    font-weight: normal;
}

QWidget#gbHost 
{
    border: 2px solid #000000;
    border-radius: 1px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #0B3861, stop: 1 #000000);
    min-height: 45px;
    max-height: 45px;
}

QCheckBox 
{
    border: 0px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

QCheckBox::indicator 
{
    width: 20px;
    height: 20px;
    border: 2px solid #0B3861;
    border-radius: 5px;
}

QCheckBox::indicator:checked 
{
    background-color: #58ACFA;
}

QCheckBox::indicator:checked:hover 
{
    background-color: #0B3861;
}

QCheckBox::indicator:checked:pressed 
{
    background-color: #FFBF00;
}

QPushButton
{
    background-color:#0B3861;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    min-width: 100px;
    max-width: 100px;
    min-height: 15px;
    max-height: 15px;
}

QPushButton#btIP,#btName
{
    background-color:#585858;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    min-width: 150px;
    max-width: 150px;
    min-height: 15px;
    max-height: 15px;
}

QPushButton#btRemove
{
    min-width: 50px;
    max-width: 50px;
}

QPushButton:disabled#btIP,:disabled#btName
{
    background-color:transparent;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    min-width: 150px;
    max-width: 150px;
    min-height: 15px;
    max-height: 15px;
}

QScrollBar:vertical
{
    border-color: #0174DF;
    border-width: 0px;
    border-style: solid;
    background-color: transparent;
    width: 15px;
}

QScrollBar::handle:vertical
{
    border: 1px solid #0B3861;
    border-radius: 5px;
    background-color: #58ACFA;
}

QScrollBar:horizontal
{
    border-color: #0174DF;
    border-width: 0px;
    border-style: solid;
    background-color: transparent;
    height: 15px;
}

QScrollBar::handle:horizontal
{
    border: 1px solid #0B3861;
    border-radius: 5px;
    background-color: #58ACFA;
}
